/* Style for overall look, fonts, etc. */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    text-transform: uppercase;
    color: #ccc;
}

table {
    border-collapse: collapse;
    /* width: 50%; */
}


.background{
    background-color: #003570;
    /* position: relative; */
}



/* Page Layout */

.menuDiv {
    position: absolute;
    width: 100%;
    z-index: 80;
}

.topSpace{
    top:30px;
    height: 10%;
    width: 100%;
    padding: 10px;
    text-align: center;
    visibility: hidden;
}

.midSpace{
    top:45px;
    height: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
    visibility: hidden;
}

.menuTitle{
    background-color: #0082a6;
    color:#fff568;
    font-size: 100%;
    max-width:fit-content;
    padding: 5px;
    margin: auto;
    text-align: center;
}

/* Layout for Buttons */


button {
    background-color: #0082a6;
    /* color:#0082a6; */
    color: #a8ce6f;
    border-radius: 6px;
    cursor: pointer;
}

.loginButton {
    font-size: large;
    padding: 14px 20px;
    margin: 30px 20px;
    border: none;
    width:fit-content;
}

button:hover {
    opacity: 0.8;
}

.container {
    width: auto;
    padding: 5px;
    margin: auto;
    text-align: center;
    align-items: center;
}

/* Layout for Name Results Table */

#nameText{
    background-color: #0082a6;
    color:#fff568;
    font-size: 400%;
    width: auto;
    padding: 10px;
    margin: auto;
    text-align: center;
}

#nameTable {
    width: 90%;
    /* left: 5%; */
    left: 48px;
    text-align: center;
}

.nameCells {
    position: absolute;
    /* border: 2px solid #6c93ff; */
    background-color: #0082a6;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: xx-large;
    font-weight: bold;
    
}

/* Colors */

.tile-font{
    color: #003570;
}

.button{
    color: #0082a6;
}

.text-green{
    color: #add373;
}

.text-yellow{
    color: #fff568;
}

.orange-outline{
    background-color: #f68e56;
}

.blue-outline{
    background-color: #004659;
}

.grid-highlight{
    background-color: #001e40;
}

.graybox {
    background-color: #ccc;
}

.whitebox {
    background-color: #fff;
}

.checkedbox {
    background-color: #545454;
    color:#aaa;
}

.wrongBox {
    color: red;
    /* font-size: 300px; */
}

.redfont {
    color: red;
}

.bluefont {
    color: blue;
}

.yellowfont {
    color: yellow;
}

.blackfont {
    color: black;
}

.grayfont {
    color: gray;
}

.color1{
    filter: brightness(0.5) sepia(1) saturate(500%);
}

.color2{
    filter: brightness(0.5) sepia(1) hue-rotate(180deg) saturate(500%) ;
}

.color3 {
    filter: brightness(0.5) sepia(1) hue-rotate(230deg) saturate(500%) ;
}

.color4 {
    filter: brightness(0.5) sepia(1) hue-rotate(30deg) saturate(500%) ;
}

.color5 {
    filter: brightness(.7) sepia(1) hue-rotate(60deg) saturate(500%) ;
}

.color6 {
    filter: brightness(0.7) sepia(1) hue-rotate(290deg) saturate(500%) ;
}

.color7 {
    filter: brightness(0.5) sepia(1) hue-rotate(90deg) saturate(500%) ;
}

.color8 {
    filter: brightness(0.5) sepia(1) hue-rotate(320deg) saturate(500%) ;
}

.tile1 {
    color: rgb(242, 208, 79);
}
.tile2 {
    color: rgb(33, 214, 205);
}
.tile3 {
    color: rgb(246, 142, 86);
}
.tile4 {
    color: rgb(0, 191, 243);
}
.tile5 {
    color: rgb(251, 255, 93);
}
.tile6 {
    color: rgb(131, 197, 255);
}
.tile7 {
    color: rgb(255, 245, 104);
}
.tile8 {
    color: rgb(167, 189, 237);
}
.tile9 {
    color: rgb(172, 211, 115);
}
.tile10 {
    color: rgb(175, 170, 255);
}
.tile11 {
    color: rgb(124, 197, 118);
}
.tile12 {
    color: rgb(198, 142, 250);
}
.tile13 {
    color: rgb(232, 235, 86);
}
.tile14 {
    color: rgb(253, 151, 253);
}
.tile15 {
    color: rgb(255, 247, 132);
}
.tile16 {
    color: rgb(196, 214, 253);
}



